body{
  background-color: #804905;
  background-image: url("nvfondecran2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  heigth: 50vh;
  margin: 0;
}
.fade-in {
    animation: fadeIn 2s ease-in;
  color: #B50A0A; /* rouge principal */
    font-size: 15px;
    font-family: Arial, sans-serif;
    text-shadow: 
        0 0 4px #ff0000,
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.slide-up {
    animation: slideUp 1.5s ease-out;
  color: #A50707; /* rouge principal */
    font-size: 80px;
    font-family: Arial, sans-serif;
    text-shadow: 
        0 0 4px #ff0000,
        
}

@keyframes slideUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
p{
  font-size:45px;
  color:#630505;
  class="fade-in";
}
.texte {
  font-family: Arial, Helvetica, sans-serif;
}

.photo {
  width: 300px;
  height: 300px;
}
h1{
  color:#630505;
  font-size: 70px;
  margin: 70px 70px 80px 400px;
  
}
.style1{
   font-size: 45px;
  font-family:Arial, sans-serif;
  color:#630505;
  
}
p5{
  font-size: 30px;
}
.texteusuel{
   font-size:30px;
  color: #A50707;
  text-shadow: 
        0 0 4px #ff0000,
}
.neon {
    color: #B50A0A; /* rouge principal */
    font-size: 60px;
    font-family: Arial, sans-serif;
    text-shadow: 
        0 0 4px #ff0000,
        
}
.texteusuel2{
   animation: fadeIn 2s ease-in;
   font-size:50px;
  color:#630505
}
.texteusuel3{
   animation: fadeIn 2s ease-in;
   font-size:50px;
  color:#630505
}