body{
font-family: Arial, sans-serif;
background-image: url("fond2.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
color:white;
padding:30px;
}

h1 {
  text-align: center;
  color: #5FE6CB;         
  margin-bottom: px;
  font-size: 3.5rem;
  text-shadow: 0 0 15px rgba(95, 230, 203, 0.5);


p3{
display:block;
margin-top:20px;
font-weight:bold;
font-size:18px;
}


input[type="radio"]{
margin-top:6px;
margin-right:8px;
transform:scale(1.2);
}



button{
margin-top:20px;
padding:12px 20px;
font-size:15px;
border-radius:15px;
border:none;
background:white;
color:black;
cursor:pointer;
}

button:hover{
background:#ddd;
}


#resultat{
margin-top:20px;
font-size:20px;
font-weight:bold;
}
.slide-up {
    animation: slideUp 1.5s ease-out;
  color: #A50707; /* rouge principal */
    font-size: 80px;
    font-family: Arial, sans-serif;
    text-shadow: 
        0 0 4px #ff0000,
        
}

@keyframes slideUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
